.pointer {
  cursor: pointer;
}

.centered-input input {
  text-align: center;
}

.donation {
  position: fixed;
  bottom: 0;
  right: 0;

  button {
    background: linear-gradient(to bottom right, purple, black) !important;
  }
}

.fill-width {
  width: 100%;
}

.sort-button {
  transition: all 500ms;
}

.inverted {
  transform: rotate(180deg);
}

.link {
  color: white;
  text-decoration: underline;
  transition: color 0.5s;

  &:hover {
    color: grey;
  }
}

.overlap {
  position: absolute;
  opacity: 0.5;
  width: 100%;
}

.toInfo {
  background: rgba(0, 0, 0, 0.3);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.loader {
  height: 50px;
}

.holder {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  user-select: none;
}

.main-page-subtitle {
  margin-bottom: 8px;
}

.fill-absolute {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.p-relative {
  position: relative;
}

.fullscreen-height {
  height: 100vh;
}

.streamer-item {
  z-index: 2;

  &:hover {
    & ~ .streamer-title {
      opacity: 1;
    }

    & ~ .streamer-background {
      opacity: 0;
    }
  }
}

.streamer-background {
  z-index: 1;

  background: grey;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.streamer-title {
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
  text-align: center;

  opacity: 0;
  transition: opacity 0.5s;
}

@media only screen and (max-width: 959px) {
  .streamer-title {
    opacity: 1;
  }

  .streamer-background {
    opacity: 0;
  }
}